/* website fonts */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.quicksand-primary-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.raleway-secondary-font {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* website color */
.black {
  color: #111111;
}
.orange {
  color: #fea301;
}
.white {
  color: white;
}
.sky-blue {
  color: #01acfd;
}

/* shared style */
.navbar,
.banner-container,
main {
  max-width: 1160px;
  margin: 0 auto;
}
.display-flex {
  display: flex;
}
.bg-white {
  background-color: #f7f7f7;
}
section{
   margin-bottom: 100px;
}
/* navbar style */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul li {
  list-style: none;
}
nav ul a {
  text-decoration: none;
}
.logo {
  width: 62px;
  height: 62px;
}
.site-logo,
.nav-links {
  gap: 20px;
  align-items: center;
}
.logo-title {
  font-size: 2rem;
  font-weight: 700;
  color: #01acfd;
}
.nav-link {
  font-size: 1.2rem;
  font-weight: bold;
}
.nav-btn {
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  background-color: #fea301;
  padding: 10px 60px;
  border: none;
  border-radius: 12px;
}
#home {
  color: #fea301;
}
#about {
  color: #01acfd;
}
#facilities {
  color: #05d4df;
}
#admission {
  color: #5d58ef;
}
/* banner style */
.banner-container {
  justify-content: center;
  align-items: start;
  gap: 20px;
}
.banner-content {
  width: 640px;
  height: 331px;
  margin-top: 50px;
}
.banner-title {
  font-size: 3.5rem;
  font-weight: bold;
}
.banner-description {
  font-size: 1.3rem;
}
#empowering {
  color: #fea301;
}
#vision {
  color: #01acfd;
}
.banner-btn {
  background-color: #111111;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px 47px;
  border-radius: 12px;
}
/* curriculum section style */
.Curriculum-title{
  font-size: 2.8rem;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 80px;
}
.box-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #202020;
}
.box-description {
  font-size: 1rem;
  font-weight: 500;
  color: #808080;
}
.box-container {
  justify-content: space-between;
  align-items: center;
  gap: 29px;
}
.box {
  height: 420px;
  width: 368px;
  justify-items: center;
  align-content: center;
  text-align: center;
  border: 1px solid red;
  padding: 10px 50px;
}
 
#btn-one {
  background-color: transparent;
  border: none;
  color: #01acfd;
  font-size: 1rem;
  font-weight: bold;
}
#btn-two {
  background-color: transparent;
  border: none;
  color: #F0AA00;
  font-size: 1rem;
  font-weight: bold;
}
#btn-three {
  background-color: transparent;
  border: none;
  color: #8700FF;
  font-size: 1rem;
  font-weight: bold;
}
#box-1{
  background-image: linear-gradient(#DEF5FF, #FFFFFF);
  border: 1px solid #DEF5FF;
  border-radius: 19px;

}
#box-2{
  background-image: linear-gradient(#FFF4DC, #FFFFFF);
  border: 1px solid #FFF4DC;
  border-radius: 19px;
}
#box-3{
  background-image: linear-gradient(#EEE1FF, #FFFFFF);
  border: 1px solid #F2E8FF;
  border-radius: 19px;
}
 .slider{
  width: 62px;
  height: 62px;
  margin-top: 80px;
 }
 
 .Curriculum-section{
  background-image: url("../assets/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100px;
  text-align: center;
 }
 /* our stories section style */
.story-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.full-content{
  background-color: white;
}
.story-img{
  width: 100%;
   
}
.stories-container{
  flex-direction: ;
}
